* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  align-items: center;
  width: 350px;
  padding: 20px;
}

.bill{
 display: block;
 margin-bottom: 20px;
}

.tip{
 display: block;
 margin-bottom: 20px;
}

input{
  width: 100%;
  height: 30px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#btn{
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.517);
}