@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Libertinus+Keyboard&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif+Devanagari:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&family=Yuji+Mai&display=swap');

@layer base {
  body {
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden;
  }
}

html {
  scroll-behavior: smooth;
}


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;

}
.change {
  position: relative;
}
.change::before {
  content: "Web Developer"; /* Starting text */
  color: whitesmoke;
  animation: words 20s infinite;
}

/* Animation for rotating job titles */
@keyframes words {
  0%, 20% {
    content: "UI/UX";
  }
  21%, 40% {
    content: "App Developer";
  }
  41%, 60% {
    content: "Front-End";
  }
  61%, 80% {
    content: "AI/ML";
  }
  81%, 100% {
    content: "Back-End";
  }
}

#A:hover{
    color: #7f7f7f;
  border-bottom: 2px solid #b74b4b;
}