* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin-top: 20px;
  text-align: center;
  background-color: antiquewhite;
}

h2 {
  margin: 20px;
}

input {
  height: 40px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border: 2px solid red;
  border-radius: 5px;
}

#color-box {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px auto;
}
