* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
#main {
  position: relative;
  overflow: hidden;
}
#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#page1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
canvas {
  position: relative;
  z-index: 9;
  max-width: 100vw;
  max-height: 100vh;
}
#loop {
  display: flex;
  position: absolute;
  top: 30%;
  height: 30%;
  width: 100%;
  color: #fff;
  font-size: 75px;
  white-space: nowrap;
  font-family: gilroy, sans-serif, Arial, Helvetica, sans-serif;
}
#loop > h1 {
  font-weight: 400;
  animation: anime;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#loop > h1 > span {
  -webkit-text-stroke: 1.2px #fff;
  color: transparent;
  font-weight: 500;
}

@keyframes anime {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#nav {
  margin-top: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7%;
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 99;
  padding: 0px 30px;
}
#nav > h2 {
  font-family: sans-serif, gilroy;
  font-weight: 400;
  font-size: 22px;
}

#navbtn {
  display: flex;
  align-items: center;
  gap: 20px;
}
#navbtn > h3 {
  font-size: 15px;
  font-weight: 100;
}

#navbtn > button {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-size: 12px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;
  background: rgb(75, 74, 74);
}
#navbtn > button:hover {
  color: black;
  background: white;
  scale: 1.3;
}

#page > h3 {
  position: absolute;
  top: 62%;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  left: 2%;
}

#page > h4 {
  position: absolute;
  top: 70%;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  left: 28%;
}

#page1 > #right-text {
  position: absolute;
  top: 30%;
  left: 10%;
}

#page1 > #right-text > h3 {
  font-weight: 400;
  font-size: 15px;
  color: rgb(255, 0, 0);
}
#page1 > #right-text > h1 {
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 600;
  font-size: 50px;
}
#page1 > #left-text {
  position: absolute;
  margin-left: 70%;
  text-align: end;
  top: 50%;
}
#page1 > #left-text > h1 {
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 600;
  font-size: 50px;
}
#page1 > #left-text > h3 {
  font-weight: 400;
  font-size: 15px;
  color: rgb(255, 0, 0);
}

