* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 60%;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  box-shadow: 0px 0px 3px gray;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s;
}

.nav {
  text-align: center;
  margin-top: 15px;
}

.nav button {
  font-size: 25px;
  padding: 5px;
}
