*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#153677,#4e085F);
  padding: 10px;
}

.todo-app{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin:100px auto 20px;
  padding:  40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2{
  color:#002765 ;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img{
  width: 20px ;
  margin-left: 10px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  font-size: 25px;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li{
  position: relative;
  list-style: none;
  font-size: 23px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
}

ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUyufVHzKV8eLhfUoxKXiEFqCX4Ql7deNlBw&s);
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NEA0NDQ0QDQ0NFhISDQ0TDxAVDg0NFhUWFxURFRYYHyggGBomHhYTITEhJSorLi4uFyAzODMtNygtLisBCgoKDg0OGhAQFi8gHSIwLS0tKy4tKy0rLy8tLS0tLS0rLS0tLSsrNSsrLS0tLy0rLS0tKy0tLS0tLS0rLS8rLf/AABEIAOEA4QMBEQACEQEDEQH/xAAcAAEBAAMBAQEBAAAAAAAAAAACAAUGBwQDAQj/xAA/EAEAAgEBBQQGBggGAwEAAAABAAIDBAURITFRBhJBYRMiMnGBkQdCUqHB0RQzU2JjcrHhFSMkQ4LworKzFv/EABsBAQACAwEBAAAAAAAAAAAAAAEAAgQFBgMH/8QANBEBAAIBAgQCCQMEAwEBAAAAAAECAwQRBRIhMUFREyIyYXGBobHRkcHwBiNC4RRS8UMz/9oADAMBAAIRAxEAPwDuMiKRFIikRSIpEUiKRFIjx6jaeHHwb956V4/2mr1PGdJg6TfefKOv+vq96afJbwY3Pt9/28Yednf9xNLm/qa89MWPb3z1+kbfdk10Uf5S8WXa+e3+53fIAmsycb1t/wDPb4RH/rIrpcUeDyX1eS3PJd/52mJbWai3tZLT85esYqR2rD4WuvNWeM2tPeXpEQHeTk7oxMx2k7EavJX2ctz3XsT3rqs9e2S0fOR6Ok96x+j749s6inLKvlYH+szMfF9ZT/6b/HaXnOkxW/xe3B2oyH6zHW51qtX8ZssP9Q5I/wD0pE/Dp+Xhbh1Z9m2zK6XtBp8m4buJ6XNx8+U2+DjOly9Jtyz7/wA9mJk0WWvhv8GUrYQREeScmbSJiY3hizG3d+xCkRSIpEUiKRFIikRSIpEUiKRFIikRSIlhM7dZRjdXtelN5T17dfqnx8ZoNb/UGDDvXD69vp+vj8v1ZWPS2t1t0YXVa7Jl9qzu+ycK/KcrquJanUz/AHL9PKOkfp+WdTDSnaHlWYL2BZYisSCxWFZYgsSCxIrEgsssKxL7aTaGXA78WRr1rzq+8eEytPq82Cd8dtvd4fo88mGmSPWjdseze1VLbq6ivo7ftK72j7zmffOj0nHKX9XNHLPn4f6a3Nw60dcc7+7xbFjuWC1UtV4lhETyZva2i0b1neGtmJidpKWCkRSIpEUiKRFIikRSIpEUiKRHw1WqpiN933V8X3TD1uvw6SnNkn4R4z8Hpjx2vO0MBrdoXy8N/dp4VPx6zhuIcXz6udpnlp/1j9/P7e5scWCtPi8SzVsgFiQWWIrEgsVhWWILEgsSKxILLLCsSCxIrLEFis9mzdrZtK78dt9X2sbxpb8nzJm6TXZdNPqT08vB4ZtNjzR60dfPxbvsfbWLVnqvdyHtYn2jzOp5zrdHr8Wpj1elvGP53aLUaW+GevWPNkpnMZSIpEUiKRFIikRSIpEUiPHtDXmE3HrXeVenmzUcU4tTR15Y63ntH7z/ADq98OCck+5rufNa62s718ZwWfPkz3nJktvMtnWsVjaHyWeS4LEgssRWJBYrCssQWJBYkViQWWWFYkFiRWWILFYViQWWKx5bUsXpZravGth3Iy9L2paLVnaYSaxaNpjeG8dnO0ddTuw5t1c/g8q5fd0t5fLy6vh3E4z+pk6W+/8AtodZoZxevTrX7Nim3a5SIpEUiKRFIikRSI8e0dcYTccb29k6ebNRxbildHTavW89o/ef51e+DDOSfc1zJdstrO9ebPn+TJbJab3neZ7y2kRERtD5rKrAsSCyxFYkFisKyxBYkFiRWJBZZYViQWJFZYgsVhWJBZYgsSKxI97dxHcnETmPWWiZid4O27feynaH9JDBmd2ep6tv21Tx/mPH59Z1fDeIemj0d/aj6/7aDX6L0U89PZ+zZJtmsUiKRFIikRSI+Gs1Jio3f+J1ekw9fraaTDOS3yjznyemPHN7bQ1jPmb2bWd68583z5758k5Mk7zLbVrFY2h8lnkuCxILLEViQWKwrLEFiQWJFYkFllhWJBYkVliCxWFYkFliCxIrEgsVhWWL8pltS1b1Wtqo1scyxySXpaazFqz1hJrFo2ns6b2Z20a3Fvdxmx7jLXz8LHk/nOw0OrjUY959qO/897l9bpZwX2j2Z7fhmJmsNSIpEUiJYTO3WUaztPV+lu7vYrwqfjPnfFtfOrzzMexXpH5+f22bXBi5K+94lmrZALEgssRWJBYrCssQWJBYkViQWWWFYkFiRWWILFYViQWWILEisSCxWFZYgsSCxL2bG2nbR5qZq8Q4ZKfbxvOv5eYTK0motgyRePn8HjqdPXPjmk/L4utabPXLSmTG96lwtV6jOypeL1i0dpcjek0tNbd4fSWVUiKRGN23qu5T0Y+tfn5U8f8AvvnP/wBQa30OD0NZ9a/28f17fqytLj5rc0+DXlnDNmCxILLEViQWKwrLEFiQWJFYkFllhWJBYkVliCxWFYkFliCxIrEgsVhWWILEgsSKyxBYrN3+jza2/v6K7y33we769Px+LN/wjUdJwz8Y/douL6btmj4T+0/t+jeJvGjUiKRGp7Q1HpclreHKv8py/wC+c+a8S1U6nU2yeHaPhHb8txhx8lIh5VmC9gWWIrEgsVhWWILEgsSKxILLLCsSCxIrLEFisKxILLEFiRWJBZZYViQWJBYkVliCxWFYl9dDrLafLiz09rFYsHU8T4m8+M9sOScV4vHgplxRlpNJ7S7Ppc9ctKZaO+mSpar1qm8nZUtFqxaO0uKvSaWms94fWWVeLa+f0eK6c7eqfHn92+avjOp9BpLTHeekfP8A1u99PTmyQ1ZZ87bcFliKxILFYVliCxILEisSCyywrEgsSKyxBYrCsSCyxBYkViS02C+a9cWOvevd3VPP8p64sVsl4pWOsi960rNrT0h0LSdmsFdP+j5Kl23rXy8r+k61fDd4f3Z1uLhuGuD0Vo3858d/c53Jr8s5fSVnbyj3NJ2/sLLorb318K+plDh/Lbo/1nP6zQX08+dfP8t5pdZTPHTpby/DDLMJmCssQWKwrEgssRWJdK+jnX+l01sK77aa246+jtvtX7+8fCdJwvLzYeWf8XM8Yw8maLx/lH1j+Q2ybNqWB7SZuOPH0Gz8eB/RnIf1Nm3vTFHh1n59I+0thoq9JswizmGeKxILFYVliCxILEisSCyywrEgsSKyxBYrCsSCyxBYkViR58DivI8VlojfpBdC7KbD/Raelyn+oyHH+FT7Hv6/2nW8N0PoKc1o9afp7vy53X6v01uWvsx9fez82jXsX2j2ji02C7mrXJ3xrTC/7tuj5dWYmtz0w4pm8b7+HmytHgvlyxFJ228fJyi1vh5eBOO7y62IfNYrCsSCyxFYkFiWz/RzrfR6z0S+rqKWru/fr6w/It85tOF5OXNy+cNZxjFzafm/6z9+n4dSnROVaptrL3s2T93cHwPz3z59xvJz62/u2j6fluNLXbHDHrNWyAWKwrLEFiQWJFYkFllhWJBYkVliCxWFYkFliCxIrEgsVm4djNhezrM1fPBR/wDo/h8+k6LhOg7Z7x8I/f8AH6tNxHWf/Knz/H5/RuU6BpXw1urpgx3y5bd2lDev4HVlMmSuOs3tO0Qvjx2yWilY6y5Vtza19Zlct+FThjp4Y6dPf1Zx+r1NtRk5p7eEeTrNLpq4KcsfOfNjFmOyhWJBZYisSCxILLLPZsPU+h1Wlycu7kpv/lbBb7lmRprcmWs+946rHz4b190u4TrHDNJ1l+9kyvW1v6s+Z6y3NqMlvO0/dvcUbUiPc86zHeorLEFiQWJFYkFllljpa9ilBtazuqHNZ6Y8dslorWN5lJmKxvPZndZ2YvXFW+O3fyhvyU8H+T3ff9032bgV64YtSd7eMfj4fX6Nfj4hWbzFo2jwn8tbtw4PBOZ4jNDMTE7S2cAsVhWJBZYgsSKxILFZneyuw/0u/pch/p8bx/i3+x7uvym24ZoPT257x6sfX3flga/V+hry19qfp73RA3cDgHI6TrHNq1gFUA4q8g6yTOyRG/SHM+1u33WZPR41/R8b6n8S3238P7zleIa2c9uWvsx9fe6jQaP0Fea3tT9Pd+WurNc2IrEgssRWJBYkFllhWJC1t3E4Jy98tHcxDsX+Pnl851Hp3G/8OWBvber1nza072mWyiOgLIsCxILEisSCyywrEtx7NbJMVTPfdbLkN9fEpR8Dzes7LhHD4w0jLbrafpDS63Uze3JHaPqzk3TAYPb2wK6jfkxbqZ/H7OTyej5zUcR4XXUevTpf6T8fyz9JrZxerbrX7NGz47Y7WperW9eFqvMZyV8dsdpraNphva2i0bxPR8lguCxIrEgsVnu2Jsq+symOvChxy3+xT83wmbotJbUZOWO3jLH1OorgpzT38IdP0umphpTFjr3aUN1T/vjOyx4646xSsbRDl8l7XtNrT1l9ZdRovbftB3u9o8FuBw1Fzxf2Z5dfl1mg4prt/wCzjn4/j8t7wzRbf3rx8Pz+GlLNG3grEgssRWJBYkFllhWJBYkVloLJf4pbrMr08sb/AI8eTcb8FOk5SY2mYaiAWRYFiRWJBZZYViQWJZTYu3L6V7tt98Lzp4086/lNtw7id9NPLbrTy8vh+GLqdJXNG8dLfzu3fTaimatcmOxaluSf08mdjiy0y0i9J3iWivS1Lcto2l9Z6KMXtvYuPV14+plqepk3f+NupMDW6DHqa9elvCfyytNq7YJ848nPtfpMmnu48te7Y+Vj7Q+JOQz6e+C80vG0/wA7OixZa5a81Z6PKs8nqCxWfTR6W+fJTFir3r3dweB1XoE9sOG2W8UpHWVMmSuOs2t2h0/Y2zKaPFXFTi88l93G9/F/tOz0umrp8cUr8585ctqdRbPfmn5R5PfMl4Na7Y9oP0WnoMNv9RkOZ/s0+173w+fv1nEdb6GvJT2p+jZ8O0Xprc949WPq5ss5d0oLFYFliKxILEgsssKxILEissQWKz2/oNun3T39DLw9NDe9Yd3Jlr0tY+SzndVXlz3jymfu0ePrSJ90POs8XoKxILLLCsSCxIrLEFis9uydrZNJbvU9aj7eNfVsfg+cztFrsmltvXrHjDw1GmpmrtPfwlvuzdoY9VQyYrb/ALVX2qPRJ2Wm1OPUU56T+Y+Ln82C+G3LaHrmQ8Xi2rszFq6ejynL2LntUeo/hMfU6XHqKct4+fjD3wai+G3NVznbOysujv3Mhvq+xkPZufg+U5DVaPJprbW7eE+bpNPqaZ6717+MMeCoAq8ADer4BMeImZ2hkdusujdlthmkx9+4OoyHrv2K/YPx8/cTruH6KNPTe3tT3/Dm9dq/T22r7MfX3s7NiwGK7Q7ZpocTd3WyW3mHH9q3V8jx/vMTWaqunpzT38IZWk0ttRfljt4y5VqtRfLe+TJZte7vtZ8Wcle9slptad5l1lKVpWK1jaIfBZV6AssRWJBYkFllhWJBYkVliCxWC7wZaDDr/wD+c/dJ0XoPc4//AJvveLb2PuajKdUsfEH85xvF8fJrL+/r+sMjSTzYqscs1rJBZZYViQWJFZYgsVhWJBZYvtoNfk01zJit3bHM+rY6WPEmRp9RkwX56T/tTLhplry2h0HYm2sesr6vq5a+3iXieZ1POdho9bj1Nd46T4w53U6W+CevWPCWTmaxXw1ukx56WxZal6W5nR6j4PnPPLiplrNLxvEvTHktjtzVnaWD2J2Wppc181r+l7v6gTjQedrfveH3+7XaPhdcGSbzO/l/PP8AnwztTxC2bHFIjbzbHNq1rzbQ1uPTY75srupQ+NnwqdVnnly1xUm9u0PTDitlvFK95cn2ztTJrMts2Thv4Up4Y6eFSchqdRbPfnt8o8nXabT1wUilf/WPWeDIBZYisSCxILLLCsSCxIrLEFisKxL1bF0/ptTpcXP0mXHV/l7xv+7fPbBXmyVj3vHU35MN7eUT9nfp1DgGq9r8O6+LJ4Xq1ffV3/j905P+ocO2SmTzjb9P/W24dbes18mvLOebIViQWJFZYgsVhWJBZYgsSKxL9wai+K1cmOzS9eNbHMnrjyWx2i1Z2mBalbxy2jeG/wDZztJTVhiybseoPD6uXzr5+U6vQ8RrqI5bdLff4fhz+s0NsPrV61+3xZ+bNr1Ig5LlRtZK1qLay7gDmsJmIjeTETM7Q5d2q2863Juopp8e/wBHXl33xyJ16dD3s5XX6ydRfavsx2/LqdDo409N59qe/wCGBWYDYAssRWJBYkFllhWJBYkVliCxWFYkFiW0fRpo/Ta+l93q6el8i+HeTuVP/JfhNhw+nNl38mr4zl5NLMf9piP3/Z2Ob1xrFdpdN6TT3Q44vXPcc/uX5TVcZwel0szHevX9O/0ZeiycuWPf0aOs4hvgWJFZYgsVhWJBZYgsSKxILFYVliJdERROIjuR6ktEzE7wm2/SW8dme1hk7uDV2K5OVMzwrk8rdLefJ/r0mg4nF9seXv5+bR63h013vijp5eXwbdvm6adz/tr2jMy6XT334j9dkHhkt9kfsn3vu489xPXc/wDaxz08Z8/c6Hhuh5P7uSOvhHl72nLNM3ILLEViQWJBZZYViQWJFZYgsVhWJBYkFli6p9E+zvR6bNqk46m/do/wse8/9m/ym74dj5cc283K8ez82WuKP8Y+s/62b1Ng0T8tURE3jwTqQmImNpMTt1c52npXBlyYn6r6r1q8R+U+favTzgzWxz4dvh4Okw5IyUi3m8izwewLFYViQWWILEisSCxWFZYgsSCxIrLErarJ3fR+kv6P7Hft3N3u5T19Lfl5eadvLcejrvzcsb+ez4LKPQFliKxILEgsssKxILEissQWKwrEgsSCyxfTSae+fJjw4zfky2rSh+9Z3G/yl6Um1orHirkvXHSb27R1f0BszRV0uHDp8fsYa1odXcc3zefxnTUrFaxWPB8/zZZy5LZLd5nd6pZ5KRGt9sdB3qV1FT1sfq5POi8H4P8AWaDjmk56RmrHWvf4f6bPh2ba3o58e3xacs5ZuhWJBZYgsSKxILFYVliCxILEissQWKwrEgssRWJBYkFllhWJBYkVliCxWFYkFiQWWIrEt++inYfpMl9oZK+ph300+855U9e57h3f8npNpw/D19JPyaDjur5aRgr3nrPw8I+c9fk6lNs5ZSIpEHJQsNbG+thLDyR5krasWiazG8SYmYneHONtbPdLltjd7V447fao/icpw2u0k6bLNPDwn3Ol02aM2OLePixyzFZILEisSCxWFZYgsSCxIrLEFisKxILLEViQWJBZZYViQWJFZYgsVhWJBYkFliKxL07I2dk1ufFpsJ6+V3b93ClfrXfIN793jPXFinJaKw8tRnrgxzkv2j+bfN3zZWz8ekw4tNhN2PFUrXq9bPmu9fNnRUpFKxWHA581s2Scl+8vXLvJSIpEUiMbt7ZZq8TXgZK8cVuluj5Mwtfo41OLl/yjtP8APNk6XUThvv4T3c3zY7UtalxraqlqvMTwnFXpalpraNph01Zi0RMdnyWCwLFYVliCxILEissQWKwrEgssRWJBYkFllhWJBYkVliCxWFYkFiQWWIrEjz4Aq8gN6vQJaI36F2X6Puy/+H4XNmr/AKvUB3z9jj5mI8/F8/cTe6TT+irvPeXG8W4h/wAnJyU9ivb3z5/j/bbZltQpEUiKRFIikRrvanYP6Semwn+fU4n7Wp4fzdPl7tRxPh3p49JT2o+rY6HWeinkv7P2aBbhvE3JwTxHpOVmJidpdDHUFisCxILEissQWKwrEgssRWJBYkFllhWJBYkVliCxWFYkFiQWWIrEha0YhaIdN+jnsc07m0NZTdfg6XDY40/i3H63Q8OfPluNHpOX179/BzHF+JxbfBinp/lPn7o/fz+Hfo02LnFIikRSIpEUiKRFIjW+03Zo1O/NgCuc9qvKub8refz6zU8Q4bGf18fS33/22ei184vUv7P2c+zUtRaXq1tV3Wqm5Hok5i1JrPLaNpdDWYtG8TvD5LBYVliCxWFYkFliKxILEgsssKxILEissQWKwrEgsSCyxFYkegcV4B4r4EtEb9i6Z2G7B9xprNoU9c3Ww6VPYeZfJ+90r4ePHlt9Jo+X179/JzPE+L80TiwT08befuj8+Pw79Gmxc4pEUiKRFIikRSIpEUiKRGH292fxa03v+XmD1cocfdY+sTC1ehx6iN56W8/z5szS62+Cdo618vw5ztfZOfR27uam4fYyHHHf3P4c5zGo0mTBba8fPwdJp9Tjz13pPy8WOWeDJFYkFliKxILEgsssKxILEissQWKwrEgsSCyxFYl6dl7Mz6zIYdNitlu893s0PtXtyqe+euLFbJO1YeefPjwV58lto/nbzda7I9h8Oz+7mzJqNX4X3f5eHyxj4/vPH3cputPpK4us9ZclxDi2TU+pT1aeXjPx/H3bbMtqFIikRSIpEUiKRFIikRSIpEUiPnqMFMtXHkpW9Lc62BGVvSt42tG8LUvak81Z2lpe2uwu/ffRX3fwLvD3Vt+fzml1HCI74Z+U/lutNxfwzR84/ePx+jS9do8unt3M+K2K3gWOD7nk/CafJhvina8bN3iy0yxzUtvDyrKPUFiQWWWFYkFiRWWILFYViQWJBZYnpdNkz3MeHHfLkeVKVbW9+48POXpS1p2rG4vemOvNedo97eez/wBGuXJ3cm0L+hpz9BRHK+Vrcq/Df7ybLDw+e+Sfk0Wr47Svq4I3nznt8o7z89nR9m7NwaTGYdNirixn1anN6rzs+bxm0pStI2rGzm82fJmtz5Lby9cs8lIikRSIpEUiKRFIikRSIpEUiKRFIikR8tRp6ZatMtK5KPOtqjV+DK2pW0bWjeFqXtSd6ztLWdpdg9Ll3uG19NZ8B72Pf/Lbj8kmuy8Lw2619X7Nph4xmp0vEW+k/wA+TWNf2D1uPe4vR6ivh3bd2/xLbj72YGTheavs7S2mLjGnt7W9fr9vwwWr2Nq8P6zS5q7vH0dmvzOExbaXLXvSWdj1WG/s3j9WNs7uDwTw8Z5bSyYgVjsQWKwNzrLbHZ69NsnVZv1WlzZN/iYr9357t09a4Mlu1ZeN9Thp7V4j5wzeh+j/AGhm3d+mPT18XJkG27yrTf8AfumVTh+W3fowsvGdLTtM2+EfnZtOy/oz02Pc6rNfUvjSv+Xj+5733kzsfDsdfandqs/HstumKsV+s/j6Nw2fs7Bpa+j0+GmGniUqG96vV82Z1aVrG1Y2afLmyZZ5slpmfe9Us8lIikRSIpEUiKRFIikRSIpEUiKRFIikRSIpEUiKRFIikRgO0vL4Mxs7P0fdy3a/tM0Wfu6rT9nn2d7RK4e70zdnTuy31fdN7gcvrfFtcy2qUiKRFIikRSIpEUiKRFIikRSIpEf/2Q==);
}

ul li span{
  position: absolute;
  right:0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
background: #edeef0;
}