* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0800ff;
}

.app {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.quiz {
  margin-bottom: 20px;
}

#answer-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #3498db;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #2980b9;
}

#next-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #2ecc71;
  color: white;
  cursor: pointer;
  display: none;
}

#next-btn:hover {
  background: #27ae60;
}

.correct{
  background: green;
}

.incorrect{
  background: red;
}